.main-form {
  display: block;
  width: 320px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  .font__14-21;
  cursor: pointer;
  text-align: center;
  list-style: none;
}

.main-form__main-title {
  .font__18-26--bold;
}

.main-form__info-form {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  .font__14-24;
}

@media (min-width: @tablet-width) {
.main-form {
  display: flex;
  flex-wrap: wrap;
  width: 768px;
  min-height: 1680px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  .font__14-21;
  cursor: pointer;
  text-align: center;
  list-style: none;
}

.main-form__info {
  display: block;
  width: 768px;
  padding-top: 71px;
  padding-bottom: 84px;
}

.main-form__info-form {
  display: block;
  width: 445px;
  margin-left: auto;
  margin-right: auto;
  .font__14-24;
}

.main-form__main-title {
  padding-bottom: 20px;
}

.main-form__main-title {
  .font__30-26--bold
}

}

@media (min-width: @desktop-width) {

}
