 .container-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.container-photo__info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    width: 280px;
    text-align: center;
  }

.container-photo__text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    width: 280px;
    text-align: left;
}

.container-photo__image-name {
  display: block;
  .font__14-24--bold;
}

.container-photo__author {
  display: block;
  .font__14-24;
}

.container-photo__like {
  display: block;
  .font__14-24--bold;
}

.container-photo__like {
  padding-bottom: 23px;
}

.advantages__info,
.advantages__list {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__info {
  background-color: @color-header;
  color: white;
  width: 320px;
  padding-top: 15px;
}

.advantages__img {
  display: block;
}

.advantages__item--gray {
  display: block;
  background-color: @color-item-gray;
  padding: 0;
  margin: 0;
  margin-top: -21px;
  padding-top: 21px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.advantages__description {
  padding: 0;
  margin: 0;
}

.advantages__number {
  display: block;
  margin-top: -21px;
}

.search-block__title {
  font-weight: bold;
}

.search-block__btf-container {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 58px;
  background-color: @color-header;
}

.brief-info__link {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 350px;
  background: url("../../img/bg-map-mobile-marker@1x.jpg");
  font-size: 0;
  margin-bottom: 40px;
}

.page-main__photo-title {
  .font__18-26--bold;
}

.container-photo__info {
  .font__14-24;
}

.container-photo__photo-wrapper {
  display: block;
  margin-right: auto;
}

.container-photo__video-wrapper {
  display: block;
}

.container-photo__video-title {
  .font__18-26--bold;
}

.container-photo__video-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  .font__14-24;
}
