  .page-main {
    display: block;
    width: auto;
    margin: auto;
    vertical-align: center;
    padding-left: auto;
    padding-right: auto;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    min-width: 320px;
    text-align: center;
    list-style: none;
  }

.page-header a {
    text-decoration: none;
    color: white;
    line-height: 55px;
  }

.page-header a:hover {
    text-decoration: none;
    color: white;
    line-height: 55px;
  }

.page-header .site-list__item:not(:last-child) {
   display: block;
   min-height: 55px;
   align-content: center;
   border-bottom: 1px solid @color-itemdark;
   background: @color-header;
 }

.page-header .site-list__item:last-child {
  display: block;
  min-height: 55px;
  align-content: center;
  background: @color-header;
  box-shadow: inset 0 -7px 7px rgba(103, 143, 168, 0.2);
 }

.page-header .site-list__item:not(:first-child) {
  display: block;
  min-height: 55px;
  align-content: center;
  border-top: 1px solid @color-itemlight;
 }

.page-header__logo {
  position: relative;
}

.main-menu {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: white;
}

.page-header__cross-image {
  background: @color-header;
}

.header-picture {
  min-width: 320px;
  min-height: 390px;
  margin-top: 22px;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  background-position: center;
}

.page-header__sedona-picture {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  padding-top: 90px;
}

.header-triangles {
  bottom: 60px;
  min-width: 320px;
  height: 60px;
  background-image: url(../../img/bg-intro-triangle-mobile.svg);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

.caption-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Sans', sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400px;
  font-size: 18px;
  text-align: center;
  line-height: 1.444;
  letter-spacing: 0;
  width: 265px;
  height: 125px;
  text-transform: uppercase;
}
