.page-footer {
  text-decoration: none;
}

.page-footer__wrapper {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social__title {
  display: block;
  .font__21-26--bold;
  padding-top: 20px;
  padding-bottom: 41px;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-bottom: 40px;
}

.social__link {
  display: inline-block;
  .font__14-21;
  color: red;
}

.copyright__text {
  .font__14-26;
}

.copyright__link {
  .font__14-26;
  color: red;
}

.page-footer__copyright {
  margin-bottom: 35px;
}
