.font-design () {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: @main-color;
  letter-spacing: normal;
}

.normal () {
  .font-design;
  font-weight: @font--normal;
}

.bold () {
  .font-design;
  font-weight: @font--bold;
}

.font__14-26 () {
  font-size: 14px;
  line-height: 26px;
  .normal;
}

.font__14-24 () {
  font-size: 14px;
  line-height: 24px;
  .normal;
}

.font__14-21 () {
  font-size: 14px;
  line-height: 21px;
  .normal;
}

.font__21-26--bold () {
  font-size: 21px;
  line-height: 26px;
  .bold;
}

.font__18-40--bold () {
  font-size: 18px;
  line-height: 40px;
  .bold;
}

.font__18-26--bold () {
  font-size: 18px;
  line-height: 26px;
  .bold;
}

.font__14-24--bold () {
  font-size: 14px;
  line-height: 24px;
  .bold;
}

.font__14-26--bold () {
  font-size: 14px;
  line-height: 26px;
  .bold;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font-none {
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.list-none {
  list-style: none;
  padding: 0;
}

.no-outline() {
  outline: none;
  background: transparent;
  &::before {
    display: none;
  }
}
